{% comment %} {% extends 'base.html' %}  {% endcomment %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
{% load static %}
{% load paystack %} 


<br>
{{email}}
<form method="POST">
{% csrf_token %}
  <script src="https://js.paystack.co/v1/inline.js"></script>
  <button type="button" onclick="makePayment()"> Pay </button> 
</form>

<script>
  $('button').click(function makePayment(){
    var handler = PaystackPop.setup({
            key = "pk_test_af318fe402f3f292ea28ea57a51f5185791c1eea" //public key from your paystack
            email: {{email}},
            amount: "1000",
            currency: "NGN",
            ref: “”+Math.floor((Math.random() * 100000000) + 1),
            ref: ''+Math.floor((Math.random() * 1000000000) + 1),
            callback: function(response){
          alert('success. transaction ref is ' +response.reference);
      },
      onClose: function(){
          alert('window closed');
      }
    });
    handler.openIframe();
  })
  window.onload = makePayment()
</script>
 
